{{> header}}
{{> navbar}}

    <script type="text/javascript">
        const defaultStartLocation = ['{{lat}}', '{{lon}}'];
        const defaultStartZoom = '{{zoom}}';
        let clusterPokemon = '{{cluster_pokemon}}' === 'true';
        let clusterGyms = '{{cluster_gyms}}' === 'true';
        let clusterPokestops = '{{cluster_pokestops}}' === 'true';
        const clusters = L.markerClusterGroup({
            disableClusteringAtZoom: '{{cluster_zoom_level}}',
            removeOutsideVisibleBounds: true
        });
        let showNestPolygons = '{{nest_polygons}}' === 'true';
        const enableScouting = '{{scouting}}' === 'true';
        const scoutingUrl = '{{{scouting_url}}}';
        const scoutMaxCount = parseInt('{{scouting_count}}' || 15);

        const maxPokemonId = '{{pokemon_count}}'; // Bandaid

        const defaultShowPokemon = '{{default_show_pokemon}}' === 'true';
        const defaultShowRaids = '{{default_show_raids}}' === 'true';
        const defaultShowRaidTimers = '{{default_show_raid_timers}}' === 'true';
        const defaultShowGyms = '{{default_show_gyms}}' === 'true';
        const defaultShowPokestops = '{{default_show_pokestops}}' === 'true';
        const defaultShowQuests = '{{default_show_quests}}' === 'true';
        const defaultShowInvasions = '{{default_show_invasions}}' === 'true';
        const defaultShowInvasionTimers = '{{default_show_invasion_timers}}' === 'true';
        const defaultShowSpawnpoints = '{{default_show_spawnpoints}}' === 'true';
        const defaultShowWeather = '{{default_show_weather}}' === 'true';
        const defaultShowScanCells = '{{default_show_scan_cells}}' === 'true';
        const defaultShowSubmissionCells = '{{default_show_submission_cells}}' === 'true';
        const defaultShowNests = '{{default_show_nests}}' === 'true';
        const defaultShowScanAreas = '{{default_show_scan_areas}}' === 'true';
        const defaultShowDevices = '{{default_show_devices}}' === 'true';

        const pokemonRarity = JSON.parse('{{{pokemon_rarity_json}}}');
        const glow = JSON.parse('{{{glow_json}}}');

        const locale = '{{{locale}}}';
        const localeLastModified = '{{{locale_last_modified}}}';

        const availableItems = JSON.parse('{{{available_items_json}}}');
        const availableTileservers = JSON.parse(`{{{available_tileservers_json}}}`);
        const availableIconStyles = JSON.parse('{{{available_icon_styles_json}}}');
        const availableRaidBosses = JSON.parse('{{{available_raid_bosses_json}}}');
        const availableQuestRewards = JSON.parse('{{{available_quest_rewards_json}}}');
        const availableNestPokemon = JSON.parse('{{{available_nest_pokemon_json}}}');

        const minZoom = '{{min_zoom}}';
        const maxZoom = '{{max_zoom}}';
        const devicePathColor = '{{device_path_color}}';
        const minPvpCp = JSON.parse('{{{min_pvp_cp}}}');

        const googleAnalyticsId = '{{google_analytics_id}}';
        const googleAdsenseId = '{{google_adsense_id}}';
    </script>
    <link href="/css/index.css?_={{css_last_modified}}" rel="stylesheet">
    <script src="/js/index.js?_={{js_last_modified}}" type="text/javascript"></script>

    <div class="fill" id="map"></div>

    <div class="modal fade" id="filtersModal" tabindex="-1" role="dialog" aria-labelledby="filtersModalLabel" aria-hidden="true">
        <div class="modal-dialog-scroll modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filtersModalLabel">{{filter_title}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-body-scroll">
                    <div style="height:31px; margin-top: 10px; margin-bottom: 10px" {{#hide_gyms}}class="d-none"{{/hide_gyms}}>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label id="hide-gyms" class="btn btn-sm btn-off">
                                <input type="radio" name="options" id="hide" autocomplete="off" checked>{{filter_hide}}
                            </label>
                            <label id="show-gyms" class="btn btn-sm btn-on">
                                <input type="radio" name="options" id="show" autocomplete="off">{{filter_show}}
                            </label>
                        </div>
                        {{filter_gyms}}
                        <button class="btn btn-sm btn-primary float-right" data-toggle="modal" data-target="#filterGymModal">{{filter_filter}}</button>
                    </div>
                    <div style="height:31px; margin-top: 10px; margin-bottom: 10px" {{#hide_raids}}class="d-none"{{/hide_raids}}>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label id="hide-raids" class="btn btn-sm btn-off">
                                <input type="radio" name="options" id="hide" autocomplete="off" checked>{{filter_hide}}
                            </label>
                            <label id="show-raids" class="btn btn-sm btn-on">
                                <input type="radio" name="options" id="show" autocomplete="off">{{filter_show}}
                            </label>
                        </div>
                        {{filter_raids}}
                        <button class="btn btn-sm btn-primary float-right" data-toggle="modal" data-target="#filterRaidModal">{{filter_filter}}</button>
                    </div>
                    <div style="height:31px; margin-top: 10px; margin-bottom: 10px" {{#hide_pokestops}}class="d-none"{{/hide_pokestops}}>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label id="hide-pokestops" class="btn btn-sm btn-off">
                                <input type="radio" name="options" id="hide" autocomplete="off" checked>{{filter_hide}}
                            </label>
                            <label id="show-pokestops" class="btn btn-sm btn-on">
                                <input type="radio" name="options" id="show" autocomplete="off">{{filter_show}}
                            </label>
                        </div>
                        {{filter_pokestops}}
                        <button class="btn btn-sm btn-primary float-right" data-toggle="modal" data-target="#filterPokestopModal">{{filter_filter}}</button>
                    </div>
                    <div style="height:31px; margin-top: 10px; margin-bottom: 10px" {{#hide_quests}}class="d-none"{{/hide_quests}}>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label id="hide-quests" class="btn btn-sm btn-off">
                                <input type="radio" name="options" id="hide" autocomplete="off" checked>{{filter_hide}}
                            </label>
                            <label id="show-quests" class="btn btn-sm btn-on">
                                <input type="radio" name="options" id="show" autocomplete="off">{{filter_show}}
                            </label>
                        </div>
                        {{filter_quests}}
                        <button class="btn btn-sm btn-primary float-right" data-toggle="modal" data-target="#filterQuestModal">{{filter_filter}}</button>
                    </div>
                    <div style="height:31px; margin-top: 10px; margin-bottom: 10px" {{#hide_invasions}}class="d-none"{{/hide_invasions}}>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label id="hide-invasions" class="btn btn-sm btn-off">
                                <input type="radio" name="options" id="hide" autocomplete="off" checked>{{filter_hide}}
                            </label>
                            <label id="show-invasions" class="btn btn-sm btn-on">
                                <input type="radio" name="options" id="show" autocomplete="off">{{filter_show}}
                            </label>
                        </div>
                        {{filter_invasions}}
                        <button class="btn btn-sm btn-primary float-right" data-toggle="modal" data-target="#filterInvasionModal">{{filter_filter}}</button>
                    </div>
                    <div style="height:31px; margin-top: 10px; margin-bottom: 10px" {{#hide_spawnpoints}}class="d-none"{{/hide_spawnpoints}}>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label id="hide-spawnpoints" class="btn btn-sm btn-off">
                                <input type="radio" name="options" id="hide" autocomplete="off" checked>{{filter_hide}}
                            </label>
                            <label id="show-spawnpoints" class="btn btn-sm btn-on">
                                <input type="radio" name="options" id="show" autocomplete="off">{{filter_show}}
                            </label>
                        </div>
                        {{filter_spawnpoints}}
                        <button class="btn btn-sm btn-primary float-right" data-toggle="modal" data-target="#filterSpawnpointModal">{{filter_filter}}</button>
                    </div>
                    <div style="height:31px; margin-top: 10px; margin-bottom: 10px" {{#hide_pokemon}}class="d-none"{{/hide_pokemon}}>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label id="hide-pokemon" class="btn btn-sm btn-off">
                                <input type="radio" name="options" id="hide" autocomplete="off" checked>{{filter_hide}}
                            </label>
                            <label id="show-pokemon" class="btn btn-sm btn-on">
                                <input type="radio" name="options" id="show" autocomplete="off">{{filter_show}}
                            </label>
                        </div>
                        {{filter_pokemon}}
                        <button class="btn btn-sm btn-primary float-right" data-toggle="modal" data-target="#filterPokemonModal">{{filter_filter}}</button>
                    </div>
                    <div style="height:31px; margin-top: 10px; margin-bottom: 10px" {{#hide_nests}}class="d-none"{{/hide_nests}}>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label id="hide-nests" class="btn btn-sm btn-off">
                                <input type="radio" name="options" id="hide" autocomplete="off" checked>{{filter_hide}}
                            </label>
                            <label id="show-nests" class="btn btn-sm btn-on">
                                <input type="radio" name="options" id="show" autocomplete="off">{{filter_show}}
                            </label>
                        </div>
                        {{filter_nests}}
                        <button class="btn btn-sm btn-primary float-right" data-toggle="modal" data-target="#filterNestModal">{{filter_filter}}</button>
                    </div>
                    <div style="height:31px; margin-top: 10px; margin-bottom: 10px" {{#hide_cells}}class="d-none"{{/hide_cells}}>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label id="hide-cells" class="btn btn-sm btn-off">
                                <input type="radio" name="options" id="hide" autocomplete="off" checked>{{filter_hide}}
                            </label>
                            <label id="show-cells" class="btn btn-sm btn-on">
                                <input type="radio" name="options" id="show" autocomplete="off">{{filter_show}}
                            </label>
                        </div>
                        {{filter_cells}}
                        <button class="btn btn-sm btn-primary float-right disabled">{{filter_filter}}</button>
                    </div>
                    <div style="height:31px; margin-top: 10px; margin-bottom: 10px" {{#hide_submission_cells}}class="d-none"{{/hide_submission_cells}}>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label id="hide-submission-cells" class="btn btn-sm btn-off">
                                <input type="radio" name="options" id="hide" autocomplete="off" checked>{{filter_hide}}
                            </label>
                            <label id="show-submission-cells" class="btn btn-sm btn-on">
                                <input type="radio" name="options" id="show" autocomplete="off">{{filter_show}}
                            </label>
                        </div>
                        {{filter_submission_cells}}
                        <button class="btn btn-sm btn-primary float-right disabled">{{filter_filter}}</button>
                    </div>
                    <div style="height:31px; margin-top: 10px; margin-bottom: 10px" {{#hide_weather}}class="d-none"{{/hide_weather}}>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label id="hide-weather" class="btn btn-sm btn-off">
                                <input type="radio" name="options" id="hide" autocomplete="off" checked>{{filter_hide}}
                            </label>
                            <label id="show-weather" class="btn btn-sm btn-on">
                                <input type="radio" name="options" id="show" autocomplete="off">{{filter_show}}
                            </label>
                        </div>
                        {{filter_weathers}}
                        <button class="btn btn-sm btn-primary float-right" data-toggle="modal" data-target="#filterWeatherModal">{{filter_filter}}</button>
                    </div>
                    <div style="height:31px; margin-top: 10px; margin-bottom: 10px" {{#hide_scan_areas}}class="d-none"{{/hide_scan_areas}}>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label id="hide-scanareas" class="btn btn-sm btn-off">
                                <input type="radio" name="options" id="hide" autocomplete="off" checked>{{filter_hide}}
                            </label>
                            <label id="show-scanareas" class="btn btn-sm btn-on">
                                <input type="radio" name="options" id="show" autocomplete="off">{{filter_show}}
                            </label>
                        </div>
                        {{filter_scanareas}}
                        <button class="btn btn-sm btn-primary float-right disabled">{{filter_filter}}</button>
                    </div>
                    <div style="height:31px; margin-top: 10px; margin-bottom: 10px" {{#hide_devices}}class="d-none"{{/hide_devices}}>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label id="hide-devices" class="btn btn-sm btn-off">
                                <input type="radio" name="options" id="hide" autocomplete="off" checked>{{filter_hide}}
                            </label>
                            <label id="show-devices" class="btn btn-sm btn-on">
                                <input type="radio" name="options" id="show" autocomplete="off">{{filter_show}}
                            </label>
                        </div>
                        {{filter_devices}}
                        <button class="btn btn-sm btn-primary float-right" data-toggle="modal" data-target="#filterDeviceModal">{{filter_filter}}</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="mr-auto">
                        <button type="button" id="exportFilters" class="btn btn-sm btn-primary">{{filter_export}}</button>
                        <button type="button" id="importFilters" class="btn btn-sm btn-primary">{{filter_import}}</button>
                        <input type="file" id="importFiltersFile" accept="text/json" class="btn btn-primary" hidden>
                    </div>
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">{{filter_cancel}}</button>
                    <button type="button" id="saveFilters" class="btn btn-sm btn-primary">{{filter_save}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="filterPokemonModal" tabindex="-1" role="dialog" aria-labelledby="filterPokemonModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filterPokemonModalLabel">
                        {{filter_pokemon_filter}}&nbsp;
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="table-filter-pokemon" class="table {{tableClass}} table-striped table-bordered dt-responsive display nowrap" style="position: center; width:100%">
                        <thead>
                            <tr>
                                <th class="all">{{filter_image}}</th>
                                <th class="min-desktop">{{filter_name}}</th>
                                <th class="min-desktop">#</th>
                                <th class="all">{{filter_filter}}</th>
                                <th class="min-desktop">{{filter_size_properties}}</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <div class="mr-auto">
                        <div class="btn-group">
                            <div class="dropdown">
                                <button type="button" class="btn btn-sm btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{filter_disable}}
                                </button>
                                <div class="dropdown-menu">
                                    <a id="disable-all-pokemon-filter" class="dropdown-item" href="#">{{filter_disable_all}}</a>
                                    <div class="dropdown-header">By Rarity</div>
                                    <a id="disable-common-pokemon-filter" class="dropdown-item" href="#">Common</a>
                                    <a id="disable-uncommon-pokemon-filter" class="dropdown-item" href="#">Uncommon</a>
                                    <a id="disable-rare-pokemon-filter" class="dropdown-item" href="#">Rare</a>
                                    <a id="disable-ultra-pokemon-filter" class="dropdown-item" href="#">Ultra Rare</a>
                                    <a id="disable-regional-pokemon-filter" class="dropdown-item" href="#">Regional</a>
                                    <a id="disable-event-pokemon-filter" class="dropdown-item" href="#">Event</a>
                                    <div class="dropdown-header">By Generation</div>
                                    <a id="disable-kanto-pokemon-filter" class="dropdown-item" href="#">Kanto</a>
                                    <a id="disable-johto-pokemon-filter" class="dropdown-item" href="#">Johto</a>
                                    <a id="disable-hoenn-pokemon-filter" class="dropdown-item" href="#">Hoenn</a>
                                    <a id="disable-sinnoh-pokemon-filter" class="dropdown-item" href="#">Sinnoh</a>
                                    <a id="disable-unova-pokemon-filter" class="dropdown-item" href="#">Unova</a>
                                    <a id="disable-alolan-pokemon-filter" class="dropdown-item" href="#">Alolan</a>
                                    <a id="disable-galarian-pokemon-filter" class="dropdown-item" href="#">Galarian</a>
                                </div>
                            </div>
                            &nbsp;
                            <div class="dropdown">
                                <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{filter_enable}}
                                </button>
                                <div class="dropdown-menu">
                                    <a id="reset-pokemon-filter" class="dropdown-item" href="#">{{filter_reset}}</a>
                                    <div class="dropdown-header">By Rarity</div>
                                    <a id="reset-common-pokemon-filter" class="dropdown-item" href="#">Common</a>
                                    <a id="reset-uncommon-pokemon-filter" class="dropdown-item" href="#">Uncommon</a>
                                    <a id="reset-rare-pokemon-filter" class="dropdown-item" href="#">Rare</a>
                                    <a id="reset-ultra-pokemon-filter" class="dropdown-item" href="#">Ultra Rare</a>
                                    <a id="reset-regional-pokemon-filter" class="dropdown-item" href="#">Regional</a>
                                    <a id="reset-event-pokemon-filter" class="dropdown-item" href="#">Event</a>
                                    <div class="dropdown-header">By Generation</div>
                                    <a id="reset-kanto-pokemon-filter" class="dropdown-item" href="#">Kanto</a>
                                    <a id="reset-johto-pokemon-filter" class="dropdown-item" href="#">Johto</a>
                                    <a id="reset-hoenn-pokemon-filter" class="dropdown-item" href="#">Hoenn</a>
                                    <a id="reset-sinnoh-pokemon-filter" class="dropdown-item" href="#">Sinnoh</a>
                                    <a id="reset-unova-pokemon-filter" class="dropdown-item" href="#">Unova</a>
                                    <a id="reset-alolan-pokemon-filter" class="dropdown-item" href="#">Alolan</a>
                                    <a id="reset-galarian-pokemon-filter" class="dropdown-item" href="#">Galarian</a>
                                </div>
                            <button id="quick-start-pokemon-filter" type="button" class="btn btn-sm btn-success">{{quick_start_pokemon_btn}}</button>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-sm btn-primary float-right" data-toggle="modal" data-target="#filterPokemonHelpModal">{{filter_help}}</button>
                    <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">{{filter_close}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="filterPokemonHelpModal" tabindex="-1" role="dialog" aria-labelledby="filterPokemonHelpModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content border border-secondary">
                <div class="modal-header">
                    <h5 class="modal-title" id="filterPokemonHelpModalLabel">{{filter_pokemon_help}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="help-title"><h4>Ways To Filter</h4></div><br>

                    <div class="help-title"><b>General Basics</b></div>
                    <div class="help-description">
                        <p>
                            IV Range: <kbd>90-100</kbd> - 90-100% IV Pokemon<br>
                            Level Range: <kbd>L30-35</kbd> - Level 30 to 35 Pokemon<br>
                            Stats: <kbd>A0-1 & D14 & S15</kbd> - Pokemon with 0-1 Attack, 14 Defense & 15 Stamina<br>
                            CP: <kbd>CP2000-3000</kbd> - All Pokemon with CP of 2000-3000<br>
                            NOT: <kbd>!0-100</kbd> - All Pokemon that do not have their IVs scanned<br>
                            PVP: <kbd>GL1-3 | UL1-3</kbd> - Pokemon that are rank 1-3 for either Great League or Ultra League<br><br>
                        </p>
                    </div>

                    <div class="help-title"><b>Stringing Conditions Together</b></div>
                    <div class="help-description">
                        <p>
                            <b><kbd>|</kbd> or <kbd>,</kbd></b> - OR operator, for setting separate conditions<br>
                            Example: <kbd>95-100 | L35 | CP2500-4000</kbd><br>
                            Returns all Pokemon that are either 95-100% IV, L35, or have a CP of 2500-4000<br><br>

                            <b><kbd>&</kbd></b> - AND operator, for chaining conditions together<br>
                            Example: <kbd>80-100 & L25-30 & (A15 & D10 & S10)</kbd><br>
                            All Pokemon with IVs between 80-100, are L25-30, and have stats of 15/10/10<br><br>
                        </p>
                    </div>

                    <div class="help-title"><b>Advanced</b></div>
                    <div class="help-description">
                        <p>
                            Example: <kbd>(A0-1 & D15 & S15 & (CP1400-1500 | CP2400-2500)) | L34-35,90-100 | GL1-3,UL1-3</kbd><br>
                            Returns all Pokemon that have either CP1400-1500 OR CP2400-2500 AND have 0-1 Attack, 15 Defense, 15 Stamina, OR level 34-35 OR 90-100% IVs OR PVP Great or Ultra league rank betwen 1-3.
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">{{filter_close}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="filterGymModal" tabindex="-1" role="dialog" aria-labelledby="filterGymModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filterGymModalLabel">{{filter_gym_filter}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="table-filter-gym" class="table {{tableClass}} table-striped table-bordered dt-responsive display nowrap" style="position: center; width:100%">
                        <thead>
                            <tr>
                                <th class="all">{{filter_image}}</th>
                                <th class="all">{{filter_name}}</th>
                                <th class="min-desktop">#</th>
                                <th class="all">{{filter_filter}}</th>
                                <th class="min-desktop">{{filter_size_properties}}</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <div class="mr-auto">
                        <button id="reset-gym-filter" type="button" class="btn btn-sm btn-danger">{{filter_reset}}</button>
                        <button id="disable-all-gym-filter" type="button" class="btn btn-sm btn-danger">{{filter_disable_all}}</button>
                    </div>
                    <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">{{filter_close}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="filterRaidModal" tabindex="-1" role="dialog" aria-labelledby="filterRaidModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filterRaidModalLabel">{{filter_raid_filter}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="table-filter-raid" class="table {{tableClass}} table-striped table-bordered dt-responsive display nowrap" style="position: center; width:100%">
                        <thead>
                            <tr>
                                <th class="all">{{filter_image}}</th>
                                <th class="all">{{filter_name}}</th>
                                <th class="min-desktop">#</th>
                                <th class="all">{{filter_filter}}</th>
                                <th class="min-desktop">{{filter_size_properties}}</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <div class="mr-auto">
                        <button id="reset-raid-filter" type="button" class="btn btn-sm btn-danger">{{filter_reset}}</button>
                        <button id="disable-all-raid-filter" type="button" class="btn btn-sm btn-danger">{{filter_disable_all}}</button>
                        <button id="legendary-raid-filter" type="button" class="btn btn-sm btn-primary">{{filter_raids_legendary}}</button>
                        <button id="normal-raid-filter" type="button" class="btn btn-sm btn-primary">{{filter_raids_normal}}</button>
                    </div>
                    <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">{{filter_close}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="filterPokestopModal" tabindex="-1" role="dialog" aria-labelledby="filterPokestopModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filterPokestopModalLabel">{{filter_pokestop_filter}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="table-filter-pokestop" class="table {{tableClass}} table-striped table-bordered dt-responsive display nowrap" style="position: center; width:100%">
                        <thead>
                            <tr>
                                <th class="all">{{filter_image}}</th>
                                <th class="all">{{filter_name}}</th>
                                <th class="min-desktop">#</th>
                                <th class="all">{{filter_filter}}</th>
                                <th class="min-desktop">{{filter_size_properties}}</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <div class="mr-auto">
                        <button id="reset-pokestop-filter" type="button" class="btn btn-sm btn-danger">{{filter_reset}}</button>
                        <button id="disable-all-pokestop-filter" type="button" class="btn btn-sm btn-danger">{{filter_disable_all}}</button>
                    </div>
                    <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">{{filter_close}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="filterQuestModal" tabindex="-1" role="dialog" aria-labelledby="filterQuestModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filterQuestModalLabel">{{filter_quest_filter}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="table-filter-quest" class="table {{tableClass}} table-striped table-bordered dt-responsive display nowrap" style="position: center; width:100%">
                        <thead>
                            <tr>
                                <th class="all">{{filter_image}}</th>
                                <th class="min-desktop">{{filter_name}}</th>
                                <th class="min-desktop">#</th>
                                <th class="all">{{filter_filter}}</th>
                                <th class="min-desktop">{{filter_size_properties}}</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <div class="mr-auto">
                        <button id="reset-quest-filter" type="button" class="btn btn-sm btn-danger">{{filter_reset}}</button>
                        <button id="disable-all-quest-filter" type="button" class="btn btn-sm btn-danger">{{filter_disable_all}}</button>
                    </div>
                    <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">{{filter_close}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="filterInvasionModal" tabindex="-1" role="dialog" aria-labelledby="filterInvasionModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filterInvasionModalLabel">{{filter_invasion_filter}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="table-filter-invasion" class="table {{tableClass}} table-striped table-bordered dt-responsive display nowrap" style="position: center; width:100%">
                        <thead>
                            <tr>
                                <th class="all">{{filter_image}}</th>
                                <th class="min-desktop">{{filter_name}}</th>
                                <th class="min-desktop">#</th>
                                <th class="all">{{filter_filter}}</th>
                                <th class="min-desktop">{{filter_size_properties}}</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <div class="mr-auto">
                        <button id="reset-invasion-filter" type="button" class="btn btn-sm btn-danger">{{filter_reset}}</button>
                        <button id="disable-all-invasion-filter" type="button" class="btn btn-sm btn-danger">{{filter_disable_all}}</button>
                    </div>
                    <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">{{filter_close}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="filterSpawnpointModal" tabindex="-1" role="dialog" aria-labelledby="filterSpawnpointModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filterSpawnpointModalLabel">{{filter_spawnpoint_filter}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="table-filter-spawnpoint" class="table {{tableClass}} table-striped table-bordered dt-responsive display nowrap" style="position: center; width:100%">
                        <thead>
                            <tr>
                                <th class="all">{{filter_image}}</th>
                                <th class="all">{{filter_name}}</th>
                                <th class="min-desktop">#</th>
                                <th class="all">{{filter_filter}}</th>
                                <th class="min-desktop">{{filter_size_properties}}</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <div class="mr-auto">
                        <button id="reset-spawnpoint-filter" type="button" class="btn btn-sm btn-danger">{{filter_reset}}</button>
                        <button id="disable-all-spawnpoint-filter" type="button" class="btn btn-sm btn-danger">{{filter_disable_all}}</button>
                    </div>
                    <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">{{filter_close}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="filterNestModal" tabindex="-1" role="dialog" aria-labelledby="filterNestModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filterNestModalLabel">{{filter_nest_filter}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="table-filter-nest" class="table {{tableClass}} table-striped table-bordered dt-responsive display nowrap" style="position: center; width:100%">
                        <thead>
                            <tr>
                                <th class="all">{{filter_image}}</th>
                                <th class="all">{{filter_name}}</th>
                                <th class="min-desktop">#</th>
                                <th class="all">{{filter_filter}}</th>
                                <th class="min-desktop">{{filter_size_properties}}</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <div class="mr-auto">
                        <button id="reset-nest-filter" type="button" class="btn btn-sm btn-danger">{{filter_reset}}</button>
                        <button id="disable-all-nest-filter" type="button" class="btn btn-sm btn-danger">{{filter_disable_all}}</button>
                    </div>
                    <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">{{filter_close}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="filterWeatherModal" tabindex="-1" role="dialog" aria-labelledby="filterWeatherModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filterWeatherModalLabel">{{filter_weather_filter}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="table-filter-weather" class="table {{tableClass}} table-striped table-bordered dt-responsive display nowrap" style="position: center; width:100%">
                        <thead>
                            <tr>
                                <th class="all">{{filter_image}}</th>
                                <th class="all">{{filter_name}}</th>
                                <th class="min-desktop">#</th>
                                <th class="all">{{filter_filter}}</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <div class="mr-auto">
                        <button id="reset-weather-filter" type="button" class="btn btn-sm btn-danger">{{filter_reset}}</button>
                        <button id="disable-all-weather-filter" type="button" class="btn btn-sm btn-danger">{{filter_disable_all}}</button>
                    </div>
                    <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">{{filter_close}}</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="filterDeviceModal" tabindex="-1" role="dialog" aria-labelledby="filterDeviceModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filterDeviceModalLabel">{{filter_device_filter}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="table-filter-device" class="table {{tableClass}} table-striped table-bordered dt-responsive display nowrap" style="position: center; width:100%">
                        <thead>
                            <tr>
                                <th class="all">{{filter_image}}</th>
                                <th class="min-desktop">{{filter_name}}</th>
                                <th class="min-desktop">#</th>
                                <th class="all">{{filter_filter}}</th>
                                <th class="min-desktop">{{filter_size_properties}}</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <div class="mr-auto">
                        <button id="reset-device-filter" type="button" class="btn btn-sm btn-danger">{{filter_reset}}</button>
                        <button id="disable-all-device-filter" type="button" class="btn btn-sm btn-danger">{{filter_disable_all}}</button>
                    </div>
                    <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">{{filter_close}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="mapstyleModal" tabindex="-1" role="dialog" aria-labelledby="mapstyleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mapstyleModalLabel">{{filter_mapstyle}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        {{filter_select_mapstyle}}
                        <select class="form-control" id="select-mapstyle" required></select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">{{filter_close}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="iconstyleModal" tabindex="-1" role="dialog" aria-labelledby="iconstyleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="iconstyleModalLabel">{{filter_iconstyle}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        {{filter_select_iconstyle}}
                        <select class="form-control" id="select-iconstyle" required></select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">{{filter_close}}</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel" aria-hidden="true">
        <div class="modal-dialog-scroll modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="settingsModalLabel">{{settings_title}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="table-settings" class="table {{tableClass}} table-sm table-striped table-bordered dt-responsive display nowrap" style="position: center; width:100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th class="all">{{filter_name}}</th>
                                <th class="all">{{filter_option}}</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <div class="mr-auto">
                        <div class="btn-group">
                            <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#mapstyleModal">{{filter_mapstyle}}</button>
                            &nbsp;
                            <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#iconstyleModal">{{filter_iconstyle}}</button>
                            &nbsp;
                            <div class="dropdown">
                                <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{clear_data}}
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="clearSiteCache('cache');" href="#">{{clear_cache}}</a>
                                    <a class="dropdown-item" onclick="clearSiteCache('storage');" href="#">{{clear_storage}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">{{filter_cancel}}</button>
                    <button type="button" id="saveSettings" class="btn btn-sm btn-primary">{{filter_save}}</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
        <div class="modal-dialog-scroll modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="searchModalLabel">{{search_title}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-pills nav-fill mb-3 justify-content-center" id="pills-tab" role="tablist">
                        <li class="nav-item {{#hide_quests}}d-none{{/hide_quests}}">
                            <a class="nav-link active" id="pills-reward-tab" data-toggle="pill" href="#pills-reward" role="tab" aria-controls="pills-reward" aria-selected="true">
                                <img src="/img/misc/reward.png" width="32" height="auto"/>
                            </a>
                        </li>
                        <li class="nav-item {{#hide_nests}}d-none{{/hide_nests}}">
                            <a class="nav-link" id="pills-nest-tab" data-toggle="pill" href="#pills-nest" role="tab" aria-controls="pills-nest" aria-selected="false">
                                <img src="/img/misc/nest.png" width="32" height="auto"/>
                            </a>
                        </li>
                        <li class="nav-item {{#hide_gyms}}d-none{{/hide_gyms}}">
                            <a class="nav-link" id="pills-gym-tab" data-toggle="pill" href="#pills-gym" role="tab" aria-controls="pills-gym" aria-selected="false">
                                <img src="/img/misc/gym.png" width="32" height="auto"/>
                            </a>
                        </li>
                        <li class="nav-item {{#hide_pokestops}}d-none{{/hide_pokestops}}">
                            <a class="nav-link" id="pills-pokestop-tab" data-toggle="pill" href="#pills-pokestop" role="tab" aria-controls="pills-pokestop" aria-selected="false">
                                <img src="/img/misc/pokestop.png" width="32" height="auto"/>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-reward" role="tabpanel" aria-labelledby="pills-reward-tab">
                            <input id="search-reward" type="text" class="form-control" placeholder="Enter Reward Name..." autocomplete="off" />
                            <div id="search-reward-list" class="search-list"></div>
                        </div>
                        <div class="tab-pane fade" id="pills-nest" role="tabpanel" aria-labelledby="pills-nest-tab">
                            <input id="search-nest" type="text" class="form-control" placeholder="Enter nest Pokemon or Type..." autocomplete="off" />
                            <div id="search-nest-list" class="search-list"></div>
                        </div>
                        <div class="tab-pane fade" id="pills-gym" role="tabpanel" aria-labelledby="pills-gym-tab">
                            <input id="search-gym" type="text" class="form-control" placeholder="Enter Gym Name..." autocomplete="off" />
                            <div id="search-gym-list" class="search-list"></div>
                        </div>
                        <div class="tab-pane fade" id="pills-pokestop" role="tabpanel" aria-labelledby="pills-pokestop-tab">
                            <input id="search-pokestop" type="text" class="form-control" placeholder="Enter Pokestop Name..." autocomplete="off" />
                            <div id="search-pokestop-list" class="search-list"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">{{filter_close}}</button>
                </div>
            </div>
        </div>
    </div>

{{> footer}}
